[Unit]
Description=Ephemeral Github actions runner container launcher #%i
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop runner-%i
ExecStartPre=-/usr/bin/docker rm runner-%i
ExecStart=/usr/bin/docker run \
  --rm \
  --name runner-%i \
  -e RUNNER_WORKDIR=/tmp/runner-%i \
  -e RUNNER_NAME=runner-%i \
  -e RUNNER_SCOPE=org \
  -e ORG_NAME=SocialGouv \
  -e DISABLE_AUTO_UPDATE=true \
  -e EPHEMERAL=true \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /tmp/runner-%i:/tmp/runner-%i \
  -v /tmp/github:/tmp/github \
  --network cipher-net \
  ghcr.io/socialgouv/actions-runner:master \
  /ephemeral-runner.sh

[Install]
WantedBy=multi-user.target

